body {
  background-color:black;
  background-image:url('forest-night.jpg');
  background-size: cover;
  font-family: 'Arial', sans-serif;
  background-repeat: no-repeat;
  overflow: hidden;
  color:lightyellow;
}

#firefly {
  width:50px;
  height:50px;
  position:absolute;
  top:200px;
  left:400px;
  border-radius:50px;
  padding: 0px;
  transition: 0.5s all ease;
}

#firefly:hover {
  width:60px;
  height:60px;
}

#firefly:active {
  border: 2px solid white;
}

h1 {
  font-size: 2rem;
  color:lightyellow;
  font-weight: normal;
}

#game-over{
  display:none;
  position:absolute;
  top:200px;
  width:100%;
  text-align: center;
  font-size: 2rem;
  text-shadow:1px 1px 1px red;
}

#score {
  margin: 0;
  padding: 0;
  position:absolute;
  right:10px;
  top:10px;
  font-size:4rem;
}